{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container">
        <h1 class="text-center">Liste des utilisateurs</h1>
            <div class="container mx-auto mt-4 d-flex justify-content-center">
                <a class="btn display-center" href="{{ path('admin_index')}}">Retour à l'administration</a>
                <a class="btn-secondary display-center" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
            </div>
            </div>
            <div class="container mx-auto mt-4">
                <div class="row">
                    {% for user in users %}
                    <div class="col-md-4"> <!-- Chaque carte prend 4 colonnes et a une marge en bas -->
                            <div class="card" style="width: 18rem;">
        						<img src={{ asset('./uploads/user/'~ user.img) }} class="card-img-top" alt="...">
        						<div class="card-body">
        							<h5 class="card-title">{{ user.firstName }}{{user.lastName}}</h5>
        							<h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
        							<p class="card-text">{{ user.roles ? user.roles|json_encode : '' }}</p>
        							<a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn mr-2">
        								Voir</a>
        							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn ">
        								Modifier</a>
        						</div>
        					</div>
                        </div>
                        {% endfor %}
                </div>
            </div>
    {# <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
